body {
    margin: 0;
    padding: 0;
  }
  
  #main {
    background-image: url("./assets/shinobi2.avif");
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
  }
  
  #welcome_text {
    color: white;
  }
  
  #welcome {
      
      display: block;
  }
  
  #btn-dmg {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    color: white;
    border-color: red;
    border-style: groove;
    background-color: red;
    text-align: center;
  }
  
  /* Pre-Game page */
  
  #pregame-page {
      display: none;
      height: 100vh;
      width: auto;
      align-items: center;
      justify-content: center;
  }
  
  #pregame {
    background-image: url("./assets/fight-preload.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    border-radius: 100%;
  }
  
  /* Game page */
  
  #game-page {
    display: none;
    width: 800px;
    height: 600px;
    background-image: url("/gameScreenBG.webp");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }

  #player {
    position: absolute;
    height: 192px;
    width: 192px;
    background-image: url("./SpriteSheets/Samurai/Idle.png");
    background-position: 192px 192px;
    /* background-repeat: no-repeat; */
    background-size: cover;
    bottom: 40px;
    left: 0;
  }
  